@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Import Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Manrope:wght@400;500;600&display=swap');

  body {
    @apply font-body text-neutral-900 antialiased;
    background-color: #FBFAF9;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
